body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{    
  background-color: #EDF9F0;
  display: grid;
  height: 100vh;

  grid-template-columns:
  [col-start] 1fr
  [col-2] 1fr
  [col-3] 1fr
  [col-4] 1fr
  [col-5] 1fr
  [col-6] 1fr
  [col-7] 1fr
  [col-8] 1fr
  [col-9] 1fr
  [col-10] 1fr
  [col-11] 1fr
  [col-12] 1fr
  [col-end];

  grid-template-rows: 
  1fr
  1fr
  1fr
  1fr
  1fr
  1fr 
  ;

  grid-template-areas: 
  "wb wb wb wb wb wb wb wb wb wb wb wb"
  "wb wb wb wb wb wb wb wb wb wb wb wb"
  "wb wb wb wb wb wb wb wb wb wb wb wb"
  "wb wb wb wb wb wb wb wb wb wb wb wb"
  "wb wb wb wb wb wb wb wb wb wb wb wb"
  ;
}

.white-block {
background-color: white;
grid-area:wb;
height: 100%;
width: 100%;
margin:0;
}

.green-block {
background-color: #77D18C;
grid-area:gb;
margin:0;
}

.photo-block {
/*background-image: url("img/landingimage.jpg"); */
height:200px;
grid-area:pb;
margin:0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
