body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*                                  LANDING.JS                         */


#root{    
  background-color: #EDF9F0;
  display: grid;
  height: 100vh;
}

.wrapper{
  display: grid;
  height:100vh;
  grid-template-columns:
  [col-start] 2fr
  [col-2] 7fr
  [col-3] 7fr
  [col-4] 7fr
  [col-5] 7fr
  [col-6] 7fr
  [col-7] 7fr
  [col-8] 7fr
  [col-9] 3fr
  [col-10] 3fr
  [col-11] 7fr
  [col-12] 7fr
  [col-13] 7fr
  [col-14] 7fr
  [col-end];

  grid-template-rows: 
  4fr
  5fr
  5fr
  5fr
  5fr
  5fr
  5fr 
  ;

  grid-template-areas: 
  ". logo logo . . . . . . . . . . ."
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  "bw bw bw bw bw bw bw bw bw bw bw bw bw bw"
  ;
}

.base-wrapper {
  display: grid;
  grid-area:bw;
  height: 100 vh;

  grid-template-columns:
  [col-start] 2fr
  [col-2] 7fr
  [col-3] 7fr
  [col-4] 7fr
  [col-5] 7fr
  [col-6] 7fr
  [col-7] 7fr
  [col-8] 7fr
  [col-9] 3fr
  [col-10] 3fr
  [col-11] 7fr
  [col-12] 7fr
  [col-13] 7fr
  [col-14] 7fr
  [col-end];

  grid-template-rows: 
  4fr
  5fr
  5fr
  5fr
  5fr
  5fr
  5fr 
  ;

  grid-template-areas: 
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ". wb wb wb wb wb wb wb wb wb wb wb wb wb"
  ;

}

.white-block {
background-color: white;
grid-area:wb;
height: 100%;
width: 100%;
margin:0;
border-top-left-radius: 20px;
display: grid;

grid-template-rows:
1fr
24fr;

grid-template-columns:
[col-start] 1fr
[col-2] 1fr
[col-end];

grid-template-areas:
". ."
"textb gb"
"textb gb"
;
}

.green-block-landing {
background-color: #77D18C;
grid-area:gb;
margin:0;
border-top-left-radius: 20px;
padding-left:4%;
padding-top:2%;
min-width:80%;
}

.photo-block {
background-image: url("img/landingimage.jpg");
background-size:cover;
height:100%;
min-width:80%;
grid-area:pb;
margin:0;
border-top-left-radius: 20px;
background-color: grey;
}

.text-block {
  grid-area:textb;
  max-width:80%;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction:column;
  margin-left:15%;

}
h2 {
  font:42px Montserrat, sans-serif;
  font-weight:550;
  max-width:450px;
  margin:0;
  margin-bottom:8%;
  color:#255530
}

.logo {
  grid-area:logo;
  height:55px;
  margin:auto;
}



h4 {
  font:32px Montserrat, sans-serif;
  font-weight:500;
  color:#FFF4DA;
  border-bottom: 3px solid #FFF4DA;
  min-width:78%;
  margin-top:10%;
  margin-bottom:7%;
}

.landing-text { 
  font: 25px Montserrat, sans-serif;
  line-height:40px;
  max-width:450px;
  margin:0;
  color:#255530
}

.startbtn {
  color:#FFF4DA;
  background-color:#EF990A;
  border:none;
  width:100%;
  height:100%;
  font:18px Montserrat, sans-serif;
  font-weight:550;
  margin:auto;
  border-radius: 12px;
  cursor:pointer;
}

a {
  text-decoration: none;
}

.start-link {
  color:#FFF4DA;
  background-color:#EF990A;
  border:none;
  width:55%;
  height:9%;
  font:18px Montserrat, sans-serif;
  font-weight:550;
  margin-top:8%;
  border-radius: 12px;
  box-shadow: 0px 0px 14px 0px #dddddd;
}


/*                                  MAIN.JS                         */



.base-wrapper-main {
  display: grid;
  grid-area:bw;
  height: 100 vh;

  grid-template-columns:
  [col-start] 2fr
  [col-2] 7fr
  [col-3] 7fr
  [col-4] 3fr
  [col-5] 1fr
  [col-6] 1fr
  [col-7] 1fr
  [col-8] 7fr
  [col-9] 7fr
  [col-10] 7fr
  [col-11] 7fr
  [col-12] 7fr
  [col-13] 7fr
  [col-14] 7fr
  [col-15] 7fr
  [col-end];

  grid-template-rows: 
  4fr
  5fr
  5fr
  5fr
  5fr
  5fr
  5fr 
  ;

  grid-template-areas: 
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  "gbm gbm gbm gbm . bbm bbm bbm bbm bbm bbm bbm bbm bbm bbm"
  ;

}





/*                                  GREENBLK.JS                          */

.green-block-main {
  grid-area:gbm;
  background-color: #77D18C;
  border-top-right-radius: 20px;
  display:grid;

  grid-template-columns:
  [col-start] 1fr
  [col-end];

  grid-template-rows:
  4fr
  1fr
  ;

  grid-template-areas:
  "guw"
  "rb"
}

.green-upper-wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  grid-area:guw;
}

.search-bar{
  border:none;
  width:18.5vw;
  height:5vh;
  border-radius: 10px;
  margin:auto;
  font:18px Montserrat, sans-serif;
  color:#255530;
}

.auto-complete-dropdown{
  width:18.5vw;
  height:auto;
  background-color:white;
  border-radius: 10px;
  position:absolute;
  z-index:9;
}

.suggestions{
  font:18px Montserrat, sans-serif;
  color:#255530;
  padding-left:5px;
  cursor:pointer;
}

.suggestions:hover{
  font-weight: 450;
}

.green-info-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
}

.green-instructions-wrapper{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.ing-list{
  z-index:0;
  margin-top:20px;
}

.ing-wrapper{
  display: flex;
  min-width:18.5vw;
  justify-content: space-between;
  margin-bottom:12px;
}

.ingredient{
  min-width:80%;
  font:18px Montserrat, sans-serif;
  color:#FFF4DA;
  list-style-type: none;
  font-weight: 500;
}

.ing-x-button{
  border:none;
  background-color: transparent;
  color:#FFF4DA;
  font:18px Montserrat, sans-serif;
  font-weight: 600;
  cursor:pointer;
  border-radius:3px;
}

.ing-x-button:hover{
  background-color: #76ca89;
}

.green-arrow{
  height:40px;
  width:35px;
}

.green-instructions{
  font:20px Montserrat, sans-serif;
  font-weight:400;
  color:#FFF4DA;
  max-width:220px;
  margin-top:5%;
}

.reset-button{
  grid-area:rb;
  width: 18.5vw;
  height: 5vh;
  margin:auto;
  background-color:#EDF9F0;
  border:none;
  border-radius:10px;
  font:18px Montserrat, sans-serif;
  font-weight:550;
  color:#255530;
  cursor:pointer;
}

.reset-button:hover{
  background-color:#f9fffb;
}





/*                                  BLUEBLK.JS                         */

.blue-block-main {
  grid-area:bbm;
  background-color: #C9F5D4;
  border-top-left-radius: 20px;
  display:grid;
  grid-template-columns:
  [col-start] 1fr
  [col-1] 1fr
  [col-2] 7fr
  [col-3] 7fr
  [col-4] 7fr
  [col-5] 7fr
  [col-6] 7fr
  [col-7] 7fr
  [col-8] 7fr
  [col-end];

  grid-template-rows: 
  7fr
  10fr
  10fr
  10fr
  10fr
  10fr
  10fr 
  ;

  grid-template-areas: 
  ". fbtn fbtn fbtn . . . . ."
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ". wbm wbm wbm wbm wbm wbm wbm wbm"
  ;
}




/*                               RESULTS.JS                         */

.white-block-main {
  grid-area:wbm;
  background-color:white;
  border-top-left-radius: 20px;
  display:flex;
  overflow:auto;
  flex-wrap:wrap;
  justify-content:space-around;
}

.placeholder-plate{
  margin:auto;
  height:40vh;
}



.recipes-wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}


.recipe-card{
  margin:20px;
  border-radius:25px;
  overflow:hidden;
  max-width:min-content;
  min-height:400px;
  display:flex;
  flex-direction:column;
  text-decoration: none;
}

.recipe-card-title-bar{
  min-height:10%;
  background-color:white;
  padding:auto;
  display:flex;
  justify-content:center;
}

.recipe-card-icon-bar{
  background-color:#EDF9F0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display:flex;
  justify-content:space-evenly;
}
  .card-text{
  color:#255530;
  max-height:min-content;
  max-width: 80%;
  text-align:center;
  margin-top:12px;
  margin-bottom:12px;
  line-height:10px;
  font: 20px Montserrat, sans-serif;
  font-weight:500;
}

.card-icon-text{
  color:#255530;
  max-height:min-content;
  max-width: 80%;
  text-align:center;
  line-height:10px;
  font: 18px Montserrat, sans-serif;
  font-weight:300;
  margin-left:8px;
  margin-top:12px;
  margin-bottom:12px;
}

.time-display{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.clock-logo{
  height:22px;
}

.diet-logo{
  height:25px;
}





/*                                  FILTERS.JS                         */

.filter-wrapper{
  display:flex;
  height: 100%;
  max-height:9vh;
  grid-area: fbtn;
  align-items:center;
}

.time-wrapper{
  display:flex;
  flex-direction:column;
  height:50%;
  overflow:visible;
}

.time-button{
  display:flex;
}
.time-light{
  background-color:#EF990A;
  width:12vw;
  height:4.58vh;
  border-top-left-radius:50px;
  border-bottom-left-radius:50px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.time-dark{
  background-color:#DC8D09;
  min-width:2.5vw;
  height:4.58vh;
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.time-dropdown{
  z-index:1;
  display:flex;
  flex-direction:column;
  position:relative;
  top:4px;
  display:none;
  background-color:#DC8D09;
  border-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;

}
.time-option{
  z-index: 1;
  background-color:transparent;
  font:17px Montserrat, sans-serif;
  color:#FFF4DA;
  border:none;
  cursor:pointer;
}

.time-option:hover{
font-weight:480;
}

.filter-arrow{
  height:10px;
}

.diet-wrapper{
  display:flex;
  height:50%;
}

.diet-light{
  background-color:#EF990A;
  margin-left:20px;
  width:8vw;
  height:4.58vh;
  border-top-left-radius:50px;
  border-bottom-left-radius:50px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.diet-dark{
  background-color:#DC8D09;
  display:flex;
  min-width: 20vw;
  height:4.58vh;
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
  align-items:center;
  justify-content:space-evenly;
}

.gluten-btn{
  height:15px;
  width:15px;
  background-color:transparent;
  border:#FFF4DA solid 2px;
  border-radius:5px;
  cursor:pointer;
}

.veg-btn{
  height:15px;
  width:15px;
  background-color:transparent;
  border:#FFF4DA solid 2px;
  border-radius:5px;
  cursor:pointer;

}
.filter-text{
  font:20px Montserrat, sans-serif;
  color:#FFF4DA;

}

.filter-subtext{
  margin:0;
  font:17px Montserrat, sans-serif;
  color:#FFF4DA;
  margin-left:7px;
}





/*                                  RECIPE.JS                         */



.section-wrapper{
  display: grid;
  grid-area:bw;
  height: 100 vh;

  grid-template-columns:
  [col-start] 3.5fr
  [col-2] 0.7fr
  [col-3] 1fr
  [col-4] 9fr
  [col-5] 9fr
  [col-6] 9fr
  [col-7] 9fr
  [col-8] 9fr
  [col-end];

  grid-template-rows: 
  4fr
  5fr
  5fr
  5fr
  5fr
  5fr
  5fr 
  ;

  grid-template-areas: 
  "g . b b b b b b"
  "g . b b b b b b"
  "g . b b b b b b"
  "g . b b b b b b"
  "g . b b b b b b"
  "g . b b b b b b"
  "g . b b b b b b"
  ;
}

.rp-green{
  height:100%;
  width:100%;
  border-top-right-radius: 20px;
  grid-area:g;
  background-color:#77D18C;
}

.rp-blue{
  display:grid;
  height:100%;
  width:100%;
  border-top-left-radius: 20px;
  grid-area:b;
  background-color:#C9F5D4;

  grid-template-columns:
  [col-start] 0.8fr
  [col-2] 1fr
  [col-3] 1fr
  [col-4] 9fr
  [col-5] 9fr
  [col-6] 9fr
  [col-7] 9fr
  [col-8] 9fr
  [col-end];

  grid-template-rows: 
  3.5fr
  5fr
  5fr
  5fr
  5fr
  5fr
  5fr 
  ;

  grid-template-areas: 
  ". . . . . . . . ."
  ". w w w w w w w w"
  ". w w w w w w w w"
  ". w w w w w w w w"
  ". w w w w w w w w"
  ". w w w w w w w w"
  ". w w w w w w w w"
  ;
}


.rp-white{
  height:100%;
  width:100%;
  border-top-left-radius: 20px;
  grid-area:w;
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
